@import url(http://fonts.googleapis.com/css?family=Prosto+One|Felipa);
*
{
margin: 0;
padding: 0;
text-decoration:none;
}
body
{
margin: 0px;
padding: 0px;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
background:url("../images/footerbg.jpg") repeat scroll left top rgba(0, 0, 0, 0);

}
p{line-height:30px;}
img
{
border: none;
}
a:link
{
color: #ccc;

outline:none;
}
a:visited
{

color: #ccc;
outline:none;
}
a:hover
{

color: #777777;
outline:none;
}
a:active
{

color: #777777;
outline:none;
}
.clear
{
clear: both;
}
.nomarginrt
{
margin-right: 0px !important;
}
.floatrt
{
float: right !important;
}
.noborderbtm
{
border-bottom: none !important;
}
.nomarginbtm
{
margin-bottom: 0px !important;
}
#container /* this is the containing div */
{
width: 100%;
float: left;
clear: both;
}
/* start of styles for top menu and text */
#top_wrap
{
float: left;
width: 100%;
height: 34px;
background: #000;
}
#top_menu
{
width: 1000px;
height: auto;
margin: 0 auto;
}
#top_menu .ukusa
{
float: left;
width: 291px;
height: 34px;
color: #c0c0c0;
font-size: 12px;
line-height: 34px;
padding: 0;
}
#top_menu .email
{
float: right;
width: 176px;
height: 23px;
margin: 5px 0 0 2px;
}
#top_menu .email a
{
display: block;
width: 141px;
height: 23px;
line-height: 23px;
color: #979797;
font-size: 12px;
padding: 0 0 0 35px;
background: url("../images/email.png") no-repeat left top;

}
#top_menu .email a:hover
{
background: url("../images/email.png") no-repeat left bottom;
}
#top_menu .phone
{
display: block;
margin: 5px 0 0 2px;
float: right;
width: 186px;
height: 23px;
line-height: 23px;
color: #979797;
font-size: 12px;
padding: 0 0 0 28px;
background: url("../images/phone.png") no-repeat left top;

}
#top_menu .phone:hover
{
background: url("../images/phone.png") no-repeat left bottom;
}
#top_menu .login
{
float: right;
width: 68px;
height: 23px;
margin: 5px 0 0 2px;
}
#top_menu .login a
{
display: block;
width: 43px;
height: 23px;
line-height: 23px;
color: #979797;
font-size: 12px;
padding: 0 0 0 25px;
background: url("../images/login.png") no-repeat left top;

}
#top_menu .login a:hover
{
background: url("../images/login.png") no-repeat left bottom;
}
#top_menu .livechat
{
float: right;
width: 98px;
height: 23px;
margin: 5px 0 0 2px;
}
#top_menu .livechat a
{
display: block;
width: 70px;
height: 23px;
line-height: 23px;
color: #979797;
font-size: 12px;
padding: 0 0 0 28px;
background: url("../images/livechat.png") no-repeat left top;

}
#top_menu .livechat a:hover
{
background: url("../images/livechat.png") no-repeat left bottom;
}
#top_menu .nobg
{
background: none !important;
}
/* end of styles for top menu and text */
/* start of styles for header area */
#header_wrap
{
float: left;
width: 100%;
height: auto;
}
#header
{
width: 1000px;
height: auto;
margin: 0 auto;
}
#header .logo
{
float: left;
width: 600px;
height: 50px;
z-index:99999;
position:absolute;
color:#FFF;
font-family: 'Felipa', Times, cursive;
}

#header .logo a
{
display: block;
/*background: url("../images/logo.png") no-repeat left top;*/
color:#FFF;
}
#header .logo a>h1{font-size:30px;line-height:50px; text-transform:uppercase; font-family: 'cursive', Prosto One ;}
#header .logo img {float:left;margin-right:15px;}
#midmenu
{
float: right;
width: 398px;
height: 30px;
margin: 25px 0 23px 0;
background: #CCCCCC;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;	


}
#midmenu ul
{
float: left;
margin: 0px;
padding: 0px;
}
#midmenu ul li
{
float: left;
display: inline;
height: 30px;

}
#midmenu ul li a
{
display: block;
line-height: 30px;

color: #03146D;
font-size: 14px;
}
#midmenu ul li a:hover
{
color: #333333;
}
#midmenu .home
{
width: 51px;
padding: 0 0 0 30px;
background: url("../images/home.png") no-repeat 7px center;
}
#midmenu .aboutus
{
width: 72px;
padding: 0 0 0 30px;
background: url("../images/aboutus.png") no-repeat 7px center;
}
#midmenu .support
{
width: 67px;
padding: 0 0 0 30px;
background: url("../images/support.png") no-repeat 7px center;
}
#midmenu .contactus
{
width: 88px;
padding: 0 0 0 30px;
background: url("../images/contactus.png") no-repeat 7px center;
}

/* end of styles for header area */
/* start of styles for slider */
.bannercon
{
float: left;
width: 100%;
/*background: url("../images/bannerbg.png") repeat left top;*/
/*background:url(../images/banner/slider1.jpg) repeat left top;*/
}
.bannercon .coda-slider-wrapper
{
float: left;
width: 100%;
}
/* Use this to keep the slider content contained in a box even when JavaScript is disabled */
.bannercon .coda-slider-no-js .coda-slider
{
height: 346px;
overflow: auto !important;
}
/* Change the width of the entire slider (without dynamic arrows) */
.bannercon .coda-slider, .coda-slider .panel
{
width: 100%;
height: 346px;
}
/* Panel padding */
.bannercon .coda-slider .panel-wrapper
{
}
.bannercon .banner
{
float: left;
width: 100%;
height: 110px;
padding: 236px 0 0 0;
border-radius:3px;
/*background: url(../images/banner/slider3.jpg) no-repeat center top;*/
}
.bannercon .wrapper
{
width: 1000px;
height: auto;
margin: 0 auto;
}
/* Preloader */
.bannercon .coda-slider p.loading
{
padding: 20px;
text-align: center
}
/* Miscellaneous */
.bannercon .coda-slider-wrapper
{
clear: both;
overflow: auto;
}
.bannercon .coda-slider
{
margin: 0 auto;
overflow: hidden;
}
.bannercon .coda-slider .panel
{
display: block;
float: left
}
.bannercon .coda-slider .panel-container
{
float: left;
}
.bannercon .slidernavcon
{
float: left;
width: 100%;
height: 92px;
margin:auto;
/*background: url("../images/navslider.png") repeat-x left top;*/
background:rgb(0, 154, 204);
}
.bannercon .slidernav
{
float:none;
width: 1000px;
list-style-type: none;
margin: 0px;
padding: 0px;
}
.bannercon .slidernav li
{
float: left;
display: inline;
height: 72px;
padding: 20px 20px 0 20px;
width: 160px;
background: url("../images/shadowslidernav.png") no-repeat right bottom;
}
.bannercon .slidernav li a
{
display: block;
color: #fff;
font-size: 14px;
line-height: 20px;

}
.bannercon .slidernav li a span
{
display: block;
color: #fff;
font-size: 16px;
font-weight: bold;
}
.bannercon .slidernavactive
{
display: none;
width: 62px;
height: 28px;
margin: -41px auto 13px;
background: url("../images/slideractive.png") no-repeat left top;
}
.bannercon ul.slidernav li a.current .slidernavactive
{
display: block;
}
.bannercon .slidernav li a:hover span, .slidernav li a.current span
{
color: #ffc800;
}
.bannercon .signup
{
width: 151px;
height: 37px;
float: left;
margin: 35px 5px 0 15px;
}
.bannercon .signup a
{
width: 151px;
height: 37px;
display: block;

text-align: center;
line-height: 33px;
color: #000;
font-size: 18px;
font-family: 'MyriadPro-Bold';
background: url("../images/signup.png") no-repeat top;
}
.bannercon .signup a:hover
{
background: url("../images/signup.png") no-repeat bottom;
}
.bannercon .learnmore
{
width: 151px;
height: 37px;
float: left;
margin-top: 35px;
}
.bannercon .learnmore a
{
	width: 151px;
	height: 37px;
	display: block;
	text-align: center;
	line-height: 33px;
	color: #fff;
	font-size: 18px;
	font-family: 'MyriadPro-Bold';
	background: url("../images/learnmore.png") no-repeat top;
}
.bannercon .learnmore a:hover
{
	background: url("../images/learnmore.png") no-repeat bottom;
}
/* end of styles for slider */
/* start of styles for content area */
#mainbg
{
	float: left;
	width: 100%;
	padding: 25px 0 0 0;
	background:url(../images/bac.jpg);
}
#mainbg .wrapper
{
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
/* start of styles for content */
#mainbg #content_area
{
	float: left;
	width: 998px;
	margin: 0;
	padding:3px 0;
	border-right: 1px solid #b5b5b5;
	border-left: 1px solid #b5b5b5;
	background: #fff;
	border-radius:10px 10px 0 0;
	margin-bottom:10px;
}
#c_js1{
	border-top:1px #CCC solid;
	border-bottom:1px #CCC solid;
	padding:0;
	background:#333;
}
#c_js1 img:hover{
	FILTER: alpha(opacity=40);-moz-opacity: 0.4; opacity: 0.4;
}
#mainbg h1
{
	margin: 0 0 25px 10px;
	padding: 0px;
	text-transform: uppercase;
	line-height: 30px;
	color: #003351;
	font-size: 28px;
	text-shadow: 2px 2px 1px #777;
	font-family: tahoma, arial;
}
#mainbg p
{
	margin: 10px 10px 15px 10px;
	padding: 0;
	color: #000;
	font-size: 16px;
	font-weight: normal;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
}
#mainbg a
{
	color: #000;
}
#mainbg a:hover
{
color: #000;
}
#mainbg .content_top
{
	clear: both;
	width: 1000px;
	height: 30px;
	margin: 20px 0 0 0;
	padding: 0;
	background: url("../images/domainbg.png") no-repeat left top;
}
#mainbg .content_bottom
{
	float: left;
	width: 1000px;
	height: 30px;
	margin: 0 0 20px 0;
	padding: 0;
	background: url("../images/domainbg.png") no-repeat left bottom;
}
#mainbg #content_area #left_content
{
	float: left;
	width: 710px;
	margin:0 10px 8px;
	padding:0;
	border:1px #CCC solid;
	border-radius:10px 10px 0 0;
}
#mainbg #content_area #left_content .columns2
{
	width: 355px;
	float: left;
	margin-right: 30px;
	margin-bottom: 20px;
}
#mainbg #content_area #left_content .fix
{
margin-right: auto !important;
}
#mainbg #content_area #right_sidebar
{
	float: right;
	width: 250px;
	margin: 0;
	padding: 0;
	margin-right:8px;
}
#mainbg #content_area #right_sidebar #right_title
{
	padding:7px 10px;
	background:url(../images/footerbg.jpg) repeat;
	font-size:16px;
	color:#FFF;
	border-radius:8px 8px 0 0;
}
#mainbg #content_area #right_sidebar p
{
	margin: 5px 0 10px 0;
	padding: 0;
	color: #000;
	font-size: 14px;
	font-weight: normal;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
}
#mainbg #content_area #right_sidebar a
{
color: #000;

}
#mainbg #content_area #right_sidebar a:hover
{
color: #000;
}
#mainbg #content_area #right_sidebar img
{
float: left;
margin: 2px;
padding: 0;
border: none;
}
#mainbg #content_area #right_sidebar ul
{
width: 245px;
margin:5px;
padding: 0;
}
#mainbg #content_area #right_sidebar ul li
{
	display: block;
	list-style-type: none;
	width: 245px;
	line-height: 24px;
	height: 24px;
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 14px;
	font-weight: normal;
	font-family: "Trebuchet MS", arial, tahoma, sans-serif;
	background:url(../images/dot.gif) no-repeat left;
}
#mainbg #content_area #right_sidebar ul li a
{
	display: block;
	width: 226px;
	line-height: 24px;
	height: 24px;
	margin: 0;
	padding: 0 0 0 25px;
	color: #000;
}
.right_column_list{
	border:1px #CCC solid;
	margin-bottom:7px;
	border-radius:9px 9px 0 0;
}
#mainbg #content_area #right_sidebar ul li a:hover
{
	width: 226px;
	margin: 0;
	padding: 0 0 0 25px;
	text-decoration:underline;
	background-image: none;
}
#mainbg #content_area #right_sidebar ul.right_list
{
margin: 5px 0 20px 0;
padding: 0;
}
#mainbg #content_area #right_sidebar ul.right_list li
{
list-style-type: none;
margin: 0;
padding: 0;
background: none;
border-bottom: none;
}
#mainbg #content_area #right_sidebar ul.right_list li.twitter
{
background: url("../images/twitter_side_icon.png") 0 0 no-repeat;
}
#mainbg #content_area #right_sidebar ul.right_list li.facebook
{
background: url("../images/facebook_side_icon.png") 0 0 no-repeat;
}
#mainbg #content_area #right_sidebar ul.right_list li.google
{
background: url("../images/googleplus_side_icon.png") 1px 1px no-repeat;
}
#mainbg #content_area #right_sidebar ul.right_list li.email
{
background: url("../images/email_side_icon.png") 2px 0 no-repeat;
}
#mainbg #content_area #right_sidebar ul.right_list li.chat
{
background: url("../images/chat_side_icon.png") 2px 0 no-repeat;
}
#mainbg #content_area #right_sidebar ul.right_list li.twitter,
#mainbg #content_area #right_sidebar ul.right_list li.facebook,
#mainbg #content_area #right_sidebar ul.right_list li.google,
#mainbg #content_area #right_sidebar ul.right_list li.email,
#mainbg #content_area #right_sidebar ul.right_list li.chat
{
display: block;
list-style-type: none;
line-height: 26px;
height: 26px;
margin: 0;
padding: 0 0 0 26px;
-khtml-opacity: .50;
-moz-opacity: .50;
-ms-filter: "alpha(opacity=50)";
filter: alpha(opacity=50);
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
opacity: .50;
}
#mainbg #content_area #right_sidebar ul.right_list li.twitter:hover,
#mainbg #content_area #right_sidebar ul.right_list li.facebook:hover,
#mainbg #content_area #right_sidebar ul.right_list li.google:hover,
#mainbg #content_area #right_sidebar ul.right_list li.email:hover,
#mainbg #content_area #right_sidebar ul.right_list li.chat:hover
{
-khtml-opacity: 1;
-moz-opacity: 1;
-ms-filter: "alpha(opacity=100)";
filter: alpha(opacity=100);
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
opacity: 1;
}
#mainbg #content_area #right_sidebar ul.right_list li a
{

padding: 0;
color: #000;
background-image: none;
}
#mainbg #content_area #right_sidebar ul.right_list li a:hover
{

color: #fa7b0e;
border-bottom: none;
background: none;
}
#mainbg #content_area #left_content a
{

color: #000;
}
#mainbg #content_area #left_content a:hover
{

color: #000;
}
#mainbg #content_area #left_content h1
{
	margin: 0 0 25px 10px;
	padding: 6px 10px;
	text-transform: uppercase;
	line-height: 30px;
	color: #CCCCCC;
	font-size: 18px;
	text-shadow: 1px 1px 1px #777;
	font-family: tahoma, arial;
}
#mainbg #content_area #left_content h1 span
{
height: 50px;
line-height: 50px;
font-size: 55px;
}
#mainbg #content_area #left_content h2
{
margin: 0 0 25px 10px;
padding: 0px;
text-transform: uppercase;
line-height: 30px;
color: #003351;
font-size: 24px;
text-shadow: 2px 2px 1px #777;
font-family: tahoma, arial;
}
#mainbg #content_area #left_content p
{
	margin:10px;
	padding: 0;
	color: #000;
	font-size: 15px;
	font-weight: normal;
	font-family: arial, tahoma, sans-serif;
}
h3{margin:0 10px; color:#F30;}
#mainbg #content_area #left_content p span.big_left
{
display: block;
margin: 0 0 5px 10px;
padding: 0px;
text-transform: uppercase;
line-height: 24px;
color: #003351;
font-size: 24px;
font-weight: bold;
text-shadow: 2px 2px 1px #777;
font-family: tahoma, arial;
}
#mainbg #content_area #left_content p span.big_right
{
text-align: right;
display: block;
margin: 0 0 5px 10px;
padding: 0px;
text-transform: uppercase;
line-height: 24px;
color: #003351;
font-size: 24px;
font-weight: bold;
text-shadow: 2px 2px 1px #777;
font-family: tahoma, arial;
}
#mainbg #content_area #left_content ul
{
margin: 5px 0 15px 0;
padding: 0;
}
#mainbg #content_area #left_content ul li
{
display: block;
list-style-type: none;
height: 26px;
line-height: 26px;
margin: 0 5px 0 10px;
padding: 0 0 0 22px;
color: #000;
font-size: 15px;
font-weight: normal;
font-family: "Trebuchet MS", arial, tahoma, sans-serif;
background: url('../images/blue_check_mark.png') 0 2px no-repeat;
}
#mainbg #content_area #left_content ul li a
{
margin: 0;
padding: 0;
color: #000;
font-size: 15px;
font-weight: normal;
font-family: "Trebuchet MS", arial, tahoma, sans-serif;

}
#mainbg #content_area #left_content ul li a:hover
{
color: #000;

}
#mainbg #content_area #left_content table
{
width: 96%;
border-collapse: collapse;
margin: 10px auto;
padding: 10px 0; 
}
#mainbg #content_area #left_content th
{
height: 29px;
margin: 0;
padding: 0 0 0 5px;
color: #282844;
font-size: 16px;
font-weight: bold;
font-family: arial, tahoma, sans-serif;
text-align: left;
border-bottom: solid 2px #282844;
}
#mainbg #content_area #left_content tr
{
height: 30px;
font-size: 15px;
font-weight: normal;
font-family: arial, tahoma, sans-serif;
}
#mainbg #content_area #left_content tr
{
margin: 0;
padding-left: 2px;
padding-right: 2px;
}
#mainbg #content_area #left_content tr.rowa
{
background: #f6f6f6;
}
#mainbg #content_area #left_content tr.rowb
{
background: #eaeaea;
}
#mainbg #content_area #left_content tr img
{
margin: 0;
padding: 0;
border: none;
}
#mainbg #content_area #left_content table a
{
color: #000;

}
#mainbg #content_area #left_content table a:hover
{
color: #000;

}
#mainbg #content_area #left_content img.img_left
{
float: left;
border: none;
margin: 0 5px 0 0;
padding: 0;
}
#mainbg #content_area #left_content img.img_right
{
float: right;
border: none;
margin: 0 0 5px 0;
padding: 0;
}
/* end of styles for content */
/* start of styles for the domain registration */
#mainbg .domainarea
{
float: left;
width: 960px;
height: 72px;
margin: 0 0 20px 0;
padding: 0 20px;
background: url("../images/domainbg.png") no-repeat left top;
}
#mainbg .domaindropdown
{
float: left;
width: 74px;
height: 25px;
padding: 5px 7px 0 7px;
margin: 20px 10px 0 0;
background: url("../images/dropdown.png") no-repeat left top;
}
#mainbg .domainarea .field1
{
float: left;
width: 375px;
height: 30px;
margin: 20px 5px 0 0;
padding: 0 10px;
color: #777;
font-size: 16px;
font-weight: bold;
line-height: 30px;
font-family: Arial, Helvetica, sans-serif;
border: none;
background: url("../images/searchbg.png") no-repeat left top;
}
#mainbg .domainarea .domaindropdown .field2
{
width: 74px;
font-size: 16px;
font-weight: bold;
height: 20px;
color: #777;
border: none;
background: none;
}
#mainbg .domainarea .field3
{
float: left;
width: 111px;
height: 30px;
margin: 20px 10px 0 0;
cursor: pointer;
border: none;
background: url("../images/searchbtn.png") no-repeat left top;
}
#mainbg .domainarea .field3:hover
{
background: url("../images/searchbtn.png") no-repeat left bottom;
}
#mainbg .domainarea .domainrate
{
float: right;
width: 113px;
height: 50px;
margin: 10px 0 0 0;
background: url("../images/domainrate.png") no-repeat left top;
}
#mainbg .domainarea .domainrate h5
{
margin: 0px;
padding: 0px;
height: 20px;
line-height: 20px;
text-align: center;
color: #003351;
font-size: 22px;
font-family: 'MyriadPro-Bold';
}
#mainbg .domainarea .domainrate h6
{
margin: 5px 0 0 0;
padding: 0px;
height: 12px;
line-height: 12px;
text-align: center;
color: #000;
font-size: 14px;
font-family: 'MyriadPro-Bold';
}
/* end of styles for the domain registration */
/* start of styles for the hosting plans */
#mainbg .hosting_plans
{
float: left;
width: 1000px;
margin: 0 0 20px 0;
}
#mainbg .hosting_plans .plan
{
float: left;
width: 242px;
margin: 0 10px 0 0;
padding: 0 0 11px 0;
background: url("../images/planshadow.png") no-repeat center bottom;
}
#mainbg .hosting_plans .planinner
{
width: 200px;
padding: 20px;
border: 1px solid #b5b5b5;
border-radius: 5px;
background:url("../images/planbg.png") repeat-x left top #e7e7e7;
}
#mainbg .hosting_plans .planinner h2
{
margin: -10px 0 0 -10px;
padding: 0px;
color: #fff;
font-size: 20px;
text-align: center;
background: url("../images/planheading.png") no-repeat left top;
width: 219px;
line-height: 58px;
height: 58px;
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;
}
#mainbg .hosting_plans .planinner ul
{
list-style-type: none;
margin: 0 0 20px 0;
padding: 0px;
}
#mainbg .hosting_plans .planinner ul li
{
padding: 0 0 0 10px;
height: 31px;
line-height: 31px;
color: #333;
font-size: 14px;
border-bottom: 1px solid #b5b5b5;
background: url("../images/planbullet.png") no-repeat left 11px;
}
#mainbg .hosting_plans .planrate
{
width: 200px;
height: 70px;
margin: 0 0 20px 0;
background: url("../images/planrateshadow.png") no-repeat center bottom;
}
#mainbg .hosting_plans .doller1
{
float: left;
margin: 20px 0 0 29px;
height: 30px;
line-height: 30px;
color: #000;
font-size: 34px;
font-family: Tahoma, Geneva, sans-serif;
}
#mainbg .hosting_plans .numeric1
{
float: left;
height: 60px;
line-height: 53px;
color: #000;
font-size: 80px;
font-family: Arial, Helvetica, sans-serif;
}
#mainbg .hosting_plans .per
{
float: left;
margin: 20px 0 0 0;
height: 20px;
line-height: 20px;
color: #000;
font-size: 24px;
font-family: "Arial Black", Gadget, sans-serif;
}
#mainbg .hosting_plans .viewplan
{
margin: 0 auto;
width: 199px;
height: 30px;
}
#mainbg .hosting_plans .viewplan a
{
display: block;
width: 199px;
height: 30px;
line-height: 30px;
text-align: center;

color: #fff;
font-size: 12px;
text-transform: uppercase;
background: url("../images/planview.png") no-repeat left top;
}
#mainbg .hosting_plans .viewplan a:hover
{
background: url("../images/planview.png") no-repeat left bottom;
}
/* end of styles for hosting plans */
/* start of styles of icons within a list as banners */
#mainbg .service
{
float: left;
clear: both;
width: 1000px;
margin: 0 0 20px 0;
padding: 0px;
list-style-type: none;
}
#mainbg .service li
{
float: left;
display: inline;
width: 237px;
height: 57px;
line-height: 18px;
margin: 0 17px 0 0;
padding: 20px 0 0 85px;
text-transform: uppercase;
color: #333;
font-size: 16px;
font-weight: bold;
background: url("../images/serviceli.png") no-repeat left top;
}
#mainbg .help
{
float: left;
display: block;
width: 48px;
height: 47px;
margin: -2px 0 0 -58px;
background: url("../images/help.png") no-repeat left top;
}
#mainbg .moneyback
{
float: left;
display: block;
width: 50px;
height: 48px;
margin: -2px 0 0 -58px;
background: url("../images/moneyback.png") no-repeat left top;
}
#mainbg .pecent
{
float: left;
display: block;
width: 45px;
height: 47px;
margin: -2px 0 0 -58px;
background: url("../images/percent.png") no-repeat left top;
}
#mainbg .nomarginrt
{
margin-right: 0px !important;
}
/* end of styles of icons within a list as banners */
/* start of styles of info banners */
#mainbg .box
{
float: left;
width: 1000px;
margin: 0 0 20px 0;
}
#mainbg .box .boxlt
{
float: left;
width: 322px;
padding: 0 0 11px 0;
margin: 0 17px 0 0;
background: url("../images/boxlt.png") no-repeat center bottom;
}
#mainbg .box .boxltinner
{
padding: 20px;
border: 1px solid #b5b5b5;
border-radius: 5px;
background: url("../images/boxltinner.png") repeat-x left top #e7e7e7;
}
#mainbg .box a
{

color: #000;
}
#mainbg .box a:hover
{

color: #000;
}
#mainbg .box .boxltinner h2
{
margin: 0 0 5px 0;
padding: 0px;
height: 20px;
line-height: 20px;
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;
color: #000;
font-size: 20px;
}
#mainbg .box .boxltinner p
{
line-height: 20px;
margin: 0 0 10px 0;
padding: 0px;
color: #333;
font-size: 14px;
}
#mainbg .box .list1
{
list-style-type: none;
margin: 0px;
padding: 0px;
}
#mainbg .box .list1 li
{
line-height: 28px;
height: 28px;
padding: 0 0 0 28px;
color: #333;
font-size: 14px;
border-bottom: 1px solid #B5B5B5;
}
#mainbg .box .icon1
{
background: url("../images/icon1.png") no-repeat left center;
}
#mainbg .box .icon2
{
background: url("../images/icon2.png") no-repeat left center;
}
#mainbg .box .icon3
{
background: url("../images/icon3.png") no-repeat left center;
}
#mainbg .box .icon4
{
background: url("../images/icon4.png") no-repeat left center;
}
#mainbg .box .icon5
{
background: url("../images/icon5.png") no-repeat left center;
}
#mainbg .box .icon6
{
background: url("../images/icon6.png") no-repeat left center;
}
#mainbg .box .icon7
{
background: url("../images/icon7.png") no-repeat left center;
}
#mainbg .box .icon8
{
background: url("../images/icon8.png") no-repeat left center;
}
#mainbg .box .icon9
{
background: url("../images/icon9.png") no-repeat left center;
}
#mainbg .box .icon10
{
background: url("../images/icon10.png") no-repeat -5px center;
}
#mainbg .box .list2
{
list-style-type: none;
margin: 0px;
padding: 0px;
}
#mainbg .box .list2 li
{
margin: 0 0 20px 0;
padding: 0 0 0 65px;
line-height: 18px;
color: #333;
font-size: 14px;
}
#mainbg .box .highlight
{
width: 221px;
height: 27px;
line-height: 27px;
margin: 0 0 10px 0;
padding: 0 10px;
color: #000;
font-size: 15px;
font-family: Arial, Helvetica, sans-serif;
background: url("../images/Consectetuer.png") no-repeat left top;
}
#mainbg .box .highlight a
{

color: #000;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
}
#mainbg .box .highlight a:hover
{

color: #000;
}
#mainbg .box .subscribe
{
float: left;
width: 219px;
height: 30px;
margin: 15px 0 0 0;
}
#mainbg .box .subscribe a
{
display: block;
width: 219px;
height: 30px;
line-height: 30px;
text-align: center;

text-transform: uppercase;
color: #fff;
font-size: 15px;
font-weight: normal;
background: url("../images/newsupdate.png") no-repeat 0 0;
}
#mainbg .box .subscribe a:hover
{
background: url("../images/newsupdate.png") no-repeat left bottom;
}
#mainbg table.pricing_table
{
margin: 10px 0 20px 0;
line-height: 1.2em;
border-collapse: collapse;
text-align: center;
letter-spacing: -1px;
font-family: Georgia, serif;
font-size: 18px;
font-style: normal;
font-weight: normal;
}
#mainbg .pricing_table thead th, #mainbg .pricing_table tfoot td
{
padding: 10px;
color: #fff;
font-size: 26px;
font-weight: normal;
border-right: 1px dotted #666;
border-top: 3px solid #666;
-moz-box-shadow: 0px -1px 4px #000;
-webkit-box-shadow: 0px -1px 4px #000;
box-shadow: 0px -1px 4px #000;
text-shadow: 1px 1px 1px #000;
background-color: #222;
}
#mainbg .pricing_table tfoot th
{
padding: 10px;
text-transform: uppercase;
font-size: 18px;
color: #888;
}
#mainbg .pricing_table tfoot td
{
color: #ef870e;
font-size: 36px;
border-top: none;
border-bottom: 3px solid #666;
-moz-box-shadow: 0px 1px 4px #000;
-webkit-box-shadow: 0px 1px 4px #000;
box-shadow: 0px 1px 4px #000;
}
#mainbg .pricing_table tfoot td .sign_up
{
display: inline-block;
opacity: .9;
margin: 5px auto;
padding: 10px 20px;
color: #fff;
font: bold 14px Arial, Helvetica;
text-transform: uppercase;

-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
text-shadow: 0 -1px 0 rgba(0,0,0,.15);
background-color: #ff0000;
}
#mainbg .pricing_table tfoot td .sign_up:hover
{
opacity: 1;
color: #fff;
-webkit-box-shadow: 0 0 3px #777;
-moz-box-shadow: 0 0 3px #777;
box-shadow: 0 0 3px #777;
background-color: #001f31;
}
#mainbg .pricing_table tfoot td .sign_up:active
{
-moz-box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;
-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;
box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;
}
#mainbg .pricing_table thead th:empty
{
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
background: transparent;
}
#mainbg .pricing_table thead :nth-last-child(1)
{
border-right: none;
}
#mainbg .pricing_table thead :first-child, #mainbg .pricing_table tbody :nth-last-child(1)
{
border: none;
}
#mainbg .pricing_table tbody th
{
text-align: right;
padding: 10px;
color: #333;
text-shadow: 1px 1px 1px #ccc;
background-color: #f9f9f9;
}
#mainbg .pricing_table tbody td
{
padding: 10px;
border-right: 1px dotted #999;
text-shadow: -1px 1px 1px #fff;
text-transform: uppercase;
color: #333;
background-color: #f0f0f0;
}
#mainbg .pricing_table tbody span.check::before
{
content: url(../images/green_check_mark.png);
}
/* end of styles of info banners */
/* start of styles for the contact form */
#register-form
{
width: 650px;
margin: 20px auto;
padding: 20px;
border: 1px solid #191978;
border-radius: 15px 15px 15px 15px;
box-shadow: 0px 0px 6px #777;
background: url("../images/form_fieldset.gif") repeat-x scroll left bottom #f8fdef;
}
#register-form fieldset
{
border: none;
}
#register-form .fieldgroup
{
display: inline-block;
width: 500px;
padding: 8px 10px;
background: url("../images/form_divider.gif") repeat-x scroll left top transparent;
}
#register-form .top_field
{
background: none;
}
#register-form .fieldgroup label
{
float: left;
text-align: right;
width: 110px;
color: #000;
padding: 15px 0 0;
}
#register-form p
{
color: #000;
}
#register-form .fieldgroup input, #register-form .fieldgroup textarea, #register-form .fieldgroup select
{
float: right;
height: 25px;
width: 300px;
margin: 10px 0;
}
#register-form .submit
{
width: 220px;
height: 40px !important;
padding: 10px;
}
#register-form .fieldgroup label.error
{
color: #fb3a3a;
display: inline-block;
margin: 4px 0 5px 125px;
padding: 0;
text-align: left;
width: 220px;
}
/* end of styles for the contact form */
/* start of styles of bottom images with opacity applied */
#mainbg .bottom_images
{
float: left;
width: 1000px;
height: 104px;
margin: 5px 0;
}
#mainbg .bottom_images img
{
float: left;
margin: 0;
-khtml-opacity: .50;
-moz-opacity: .50;
-ms-filter: "alpha(opacity=50)";
filter: alpha(opacity=50);
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
opacity: .50;
}
#mainbg .bottom_images img:hover
{
-khtml-opacity: 1;
-moz-opacity: 1;
-ms-filter: "alpha(opacity=100)";
filter: alpha(opacity=100);
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
opacity: 1;
}
/* end of styles of bottom images with opacity applied */
/* end of styles for content area */
/* start of styles of footer area */
#top_footer
{
float: left;
width: 100%;
padding: 40px 0 20px 0;
background: url("../images/footerbg.jpg") repeat left top;
}
#top_footer .wrapper
{
width: 1000px;
height: auto;
margin: 0 auto;
}
#top_footer .footerlt
{
float: left;
width: 640px;
padding: 0 20px;
}
#top_footer .footer_column
{
	float: left;
	width: 213px;
	margin: 0 0 20px 0;
	color:#999;
}
#top_footer .footer_column a{
	color:#FFF;
}
#top_footer .footer_column a:hover{
	color:#CCC;
	text-shadow:2px 1px 3px #ffffff;
}
#top_footer .footer_column h2
{
margin: 0 0 20px 0;
padding: 0 0 0 20px;
height: 34px;
line-height: 34px;
text-transform: uppercase;
color: #fff;
font-size: 14px;
font-family: "Arial Black", Gadget, sans-serif;
background: url("../images/sitemapheading.png") no-repeat left top;
}
#top_footer .footer_column ul
{
list-style-type: none;
margin: 0px;
padding: 0px;
}
#top_footer .footer_column ul li
{
height: 24px;
}
#top_footer .footer_column ul li a
{
height: 24px;
padding: 0 0 0 20px;
line-height: 24px;

color: #b0b0b0;
font-size: 14px;
background:url("../images/planbullet.png") no-repeat left center;
}
#top_footer .footer_column ul li a:hover
{
color: #fff;
}
#top_footer .socialmedia
{
float: left;
width: 150px;
height: 53px;
padding: 0 20px;
border: 1px solid #3a3a3a;
border-radius: 5px;
}
#top_footer .twitter
{
float: left;
width: 35px;
height: 35px;
margin: 8px 3px 0 0;
}
#top_footer .twitter a
{
display: block;
width: 35px;
height: 35px;
background: url("../images/twitter.png") no-repeat left top;
}
#top_footer .twitter a:hover
{
opacity: 0.7;
}
#top_footer .facebook
{
float: left;
width: 35px;
height: 35px;
margin: 8px 3px 0 0;
}
#top_footer .facebook a
{
display: block;
width: 35px;
height: 35px;
background: url("../images/facebook.png") no-repeat left top;
}
#top_footer .facebook a:hover
{
opacity: 0.7;
}
#top_footer .linkdin
{
float: left;
width: 35px;
height: 35px;
margin: 8px 3px 0 0;
}
#top_footer .linkdin a
{
display: block;
width: 35px;
height: 35px;
background: url("../images/linkdin.png") no-repeat left top;
}
#top_footer .linkdin a:hover
{
opacity: 0.7;
}
#top_footer .email
{
float: left;
width: 35px;
height: 35px;
margin: 8px 0 0 0;
}
#top_footer .email a
{
display: block;
width: 35px;
height: 35px;
background: url("../images/emial.png") no-repeat left top;
}
#top_footer .email a:hover
{
opacity: 0.7;
}
#top_footer .payment
{
float: left;
width: 246px;
border: 1px solid #3a3a3a;
border-radius: 5px;
height: 53px;
padding: 0 20px;
margin: 0 0 0 20px;
background: url("../images/payment.png") no-repeat center;
}
#top_footer .footer_right
{
float: right;
width: 304px;
}
#top_footer .footer_right h2
{
margin: 0 0 20px 0;
padding: 0 0 0 20px;
height: 34px;
line-height: 34px;
text-transform: uppercase;
color: #fff;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
background: url("../images/customer.png") no-repeat left top;
}
#top_footer .footer_right a
{
color: #b0b0b0;

}
#top_footer .footer_right a:hover
{

}
#top_footer .inner
{
float: left;
width: 380px;
line-height: 18px;
color: #b0b0b0;
font-size: 14px;
}
#top_footer .inner p
{
margin: 0 0 20px 0;
padding: 0;
color: #b0b0b0;
}
#top_footer .inner .img_left
{
float: left;
margin: 0 5px 0 0;
padding: 0;
}
#bottom_footer
{
float: left;
width: 100%;
height: 45px;
background: #003351;
}
#bottom_footer .wrapper
{
width: 1000px;
height: auto;
margin: 0 auto;
}
#bottom_footer .left_bottom
{
float: left;
width: 560px;
padding: 15px 20px 0 20px;
}
#bottom_footer .left_bottom ul
{
list-style-type: none;
margin: 0px;
padding: 0px;
}
#bottom_footer .left_bottom ul li
{
float: left;
display: inline;
height: 14px;
background: url("../images/lastli.png") no-repeat right center;
}
#bottom_footer .left_bottom ul li a
{
line-height: 14px;
color: #fff;
font-size: 12px;
text-transform: uppercase;
padding: 0 10px;
}
#bottom_footer .right_bottom
{
float: right;
width: 300px;
color: #fff;
font-size: 12px;
text-align: right;
}
#bottom_footer .right_bottom p
{
margin: 0;
padding: 0;
color: #777;
font-size: 12px;
letter-spacing: -1px;
}
#bottom_footer .right_bottom a, #bottom_footer .right_bottom a:hover
{

color: #777;
}
#bottom_footer .right_bottom span.small a, #bottom_footer .right_bottom span.small a:hover
{
font-size: 9px;
color: #002a42;
}
#bottom_footer .nobg
{
background: none !important;
}
/* end of styles of footer area */

.ws-title{
	background:url(../images/footerbg.jpg) repeat;
	border-radius:10px 10px 0 0;
}
